Title: DSC350 Week 2 Exercise  
Author: Stefanie Molin  
Date:   
Modified By: Caleb Trimble  
Description: This program conducts data analytics using APIs and CSVs, including statistical analysis, appending, and concatenation of DataFrames.  
Codes and functions used in this program have been adapted from Hands-on Data Analysis with Pandas - Second Edition (Molin S., 2021).

In [65]:
# Problem 1
import pandas as pd

df = pd.read_csv('WHO_first9cols.csv')
print(df)
print()
print(f"\nDataset Details\n")
print("Row Count:\n", len(df), "\n")  # Counts the number of rows using the len() function.
print("Column Headers:\n", df.columns, "\n")  # Prints the names of the columns within the DataFrame.
print("Data Types:\n", df.dtypes, "\n")  # Prints the datatype for each column.
print("Index:\n", df.index, "\n")  # Prints the index of the DataFrame.

                Country  CountryID  Continent  Adolescent fertility rate (%)  \
0           Afghanistan          1          1                          151.0
1               Albania          2          2                           27.0
2               Algeria          3          3                            6.0
3               Andorra          4          2                            NaN
4                Angola          5          3                          146.0
..                  ...        ...        ...                            ...
197             Vietnam        198          6                           25.0
198  West Bank and Gaza        199          1                            NaN
199               Yemen        200          1                           83.0
200              Zambia        201          3                          161.0
201            Zimbabwe        202          3                          101.0

     Adult literacy rate (%)  \
0                       28.0
1                       98.7
2                       69.9
3                        NaN
4                       67.4
..                       ...
197                     90.3
198                      NaN
199                     54.1
200                     68.0
201                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
..                                                 ...
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
..                                             ...
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
..                                           ...
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
..                               ...
197                          86206.0
198                              NaN
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]


Dataset Details

Row Count:
 202

Column Headers:
 Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

Data Types:
 Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

Index:
 RangeIndex(start=0, stop=202, step=1)

In [19]:
# Problem 2
country_col = df["Country"]  # Creates a new DataFrame for a specified column in the original DataFrame.
print(f"\nCountry Column Details\n")
print("Column Data Type:\n", type(country_col), "\n")  
print("Series:\n", country_col.shape, "\n")  # Creates tuple representing number of rows in the DataFrame.
print("Series Index:\n", country_col.index, "\n")
print("Series Values:\n", country_col.values, "\n")  # Prints all values found in the DataFrame.
print("Series Names:\n", country_col.name, "\n")

Country Column Details

Column Data Type:
 <class 'pandas.core.series.Series'>

Series:
 (202,)

Series Index:
 RangeIndex(start=0, stop=202, step=1)

Series Values:
 ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

Series Names:
 Country

Print()

In [28]:
# Problem 3
import quandl

sunspots = quandl.get("SIDC/SUNSPOTS_A")  # Calls upon quandl to get the sunspots API. 
print("Head 2:\n", sunspots.head(2), "\n")  
print("Tail 2:\n", sunspots.tail(2), "\n")
last_date = sunspots.index[-1]
print("Last Value:\n",sunspots.loc[last_date], "\n")
print("Values sliced by data:\n", sunspots["20100101": "20201231"], "\n")
print("Observations greater than the mean:\n", sunspots[sunspots['Number of Observations'] > sunspots['Number of Observations'].mean()], "\n")
print("Sunspots greater than the mean:\n", sunspots[sunspots > sunspots.mean()], "\n")

Head 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               8.3                             NaN
1701-12-31                              18.3                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               1.0
1701-12-31                     NaN                               1.0

Tail 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

Last Value:
 Yearly Mean Total Sunspot Number        8.8
Yearly Mean Standard Deviation          4.1
Number of Observations              14440.0
Definitive/Provisional Indicator        1.0
Name: 2020-12-31 00:00:00, dtype: float64

Values sliced by data:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

Observations greater than the mean:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1981-12-31                             198.9                            13.1
1982-12-31                             162.4                            12.1
1983-12-31                              91.0                             7.6
1984-12-31                              60.5                             5.9
1985-12-31                              20.6                             3.7
1986-12-31                              14.8                             3.5
1987-12-31                              33.9                             3.7
1988-12-31                             123.0                             8.4
1989-12-31                             211.1                            12.8
1990-12-31                             191.8                            11.2
1991-12-31                             203.3                            12.7
1992-12-31                             133.0                             8.9
1993-12-31                              76.1                             5.8
1994-12-31                              44.9                             4.4
1995-12-31                              25.1                             3.7
1996-12-31                              11.6                             3.1
1997-12-31                              28.9                             3.6
1998-12-31                              88.3                             6.6
1999-12-31                             136.3                             9.3
2000-12-31                             173.9                            10.1
2001-12-31                             170.4                            10.5
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
1981-12-31                  3049.0                               1.0
1982-12-31                  3436.0                               1.0
1983-12-31                  4216.0                               1.0
1984-12-31                  5103.0                               1.0
1985-12-31                  5543.0                               1.0
1986-12-31                  5934.0                               1.0
1987-12-31                  6396.0                               1.0
1988-12-31                  6556.0                               1.0
1989-12-31                  6932.0                               1.0
1990-12-31                  7108.0                               1.0
1991-12-31                  6932.0                               1.0
1992-12-31                  7845.0                               1.0
1993-12-31                  8010.0                               1.0
1994-12-31                  8524.0                               1.0
1995-12-31                  8429.0                               1.0
1996-12-31                  7614.0                               1.0
1997-12-31                  7294.0                               1.0
1998-12-31                  6353.0                               1.0
1999-12-31                  6413.0                               1.0
2000-12-31                  5953.0                               1.0
2001-12-31                  6558.0                               1.0
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

Sunspots greater than the mean:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               NaN                             NaN
1701-12-31                               NaN                             NaN
1702-12-31                               NaN                             NaN
1703-12-31                               NaN                             NaN
1704-12-31                               NaN                             NaN
...                                      ...                             ...
2016-12-31                               NaN                             NaN
2017-12-31                               NaN                             NaN
2018-12-31                               NaN                             NaN
2019-12-31                               NaN                             NaN
2020-12-31                               NaN                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               NaN
1701-12-31                     NaN                               NaN
1702-12-31                     NaN                               NaN
1703-12-31                     NaN                               NaN
1704-12-31                     NaN                               NaN
...                            ...                               ...
2016-12-31                  9940.0                               NaN
2017-12-31                 11444.0                               NaN
2018-12-31                 12611.0                               NaN
2019-12-31                 12884.0                               NaN
2020-12-31                 14440.0                               NaN

[321 rows x 4 columns]

In [38]:
# Problem 4
print(f"Descriptive Statistics for Quandl Sunspots API\n")
sunspots = quandl.get("SIDC/SUNSPOTS_A")
print("Describe", sunspots.describe(),"\n")
print("Non NaN observations", sunspots.count(),"\n")
mad_values = sunspots.apply(lambda x: (x - x.mean()).abs().mean())
print("MAD", mad_values,"\n")
print("Mean", sunspots.mean(),"\n")
print("Median", sunspots.median(),"\n")
print("Max", sunspots.max(),"\n")
print("Min", sunspots.min(),"\n")
print("Mode", sunspots.mode(),"\n")
print("Standard Deviation", sunspots.std(),"\n")
print("Variance", sunspots.var(),"\n")
print("Skewness", sunspots.skew(),"\n")

Descriptive Statistics for Quandl Sunspots API

Describe        Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
count                        321.000000                      203.000000
mean                          78.517134                        7.892118
std                           62.091523                        3.866310
min                            0.000000                        0.500000
25%                           24.200000                        4.550000
50%                           65.300000                        7.600000
75%                          115.200000                       10.350000
max                          269.300000                       19.100000

       Number of Observations  Definitive/Provisional Indicator
count              203.000000                             321.0
mean              1691.857143                               1.0
std               2913.060813                               0.0
min                150.000000                               1.0
25%                365.000000                               1.0
50%                365.000000                               1.0
75%                366.000000                               1.0
max              14440.000000                               1.0

Non NaN observations Yearly Mean Total Sunspot Number    321
Yearly Mean Standard Deviation      203
Number of Observations              203
Definitive/Provisional Indicator    321
dtype: int64

MAD Yearly Mean Total Sunspot Number      51.020996
Yearly Mean Standard Deviation         3.177068
Number of Observations              2162.410978
Definitive/Provisional Indicator       0.000000
dtype: float64

Mean Yearly Mean Total Sunspot Number      78.517134
Yearly Mean Standard Deviation         7.892118
Number of Observations              1691.857143
Definitive/Provisional Indicator       1.000000
dtype: float64

Median Yearly Mean Total Sunspot Number     65.3
Yearly Mean Standard Deviation        7.6
Number of Observations              365.0
Definitive/Provisional Indicator      1.0
dtype: float64

Max Yearly Mean Total Sunspot Number      269.3
Yearly Mean Standard Deviation         19.1
Number of Observations              14440.0
Definitive/Provisional Indicator        1.0
dtype: float64

Min Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        0.5
Number of Observations              150.0
Definitive/Provisional Indicator      1.0
dtype: float64

Mode    Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
0                              18.3                             9.2

   Number of Observations  Definitive/Provisional Indicator
0                   365.0                               1.0

Standard Deviation Yearly Mean Total Sunspot Number      62.091523
Yearly Mean Standard Deviation         3.866310
Number of Observations              2913.060813
Definitive/Provisional Indicator       0.000000
dtype: float64

Variance Yearly Mean Total Sunspot Number    3.855357e+03
Yearly Mean Standard Deviation      1.494835e+01
Number of Observations              8.485923e+06
Definitive/Provisional Indicator    0.000000e+00
dtype: float64

Skewness Yearly Mean Total Sunspot Number    0.814781
Yearly Mean Standard Deviation      0.533409
Number of Observations              2.099601
Definitive/Provisional Indicator    0.000000
dtype: float64

Due to attribute errors "'DataFrame' object has no attribute 'mad'" and "'Series' object has no attribute 'mad'", MAD had to be calculated by using the apply and lambda functions.  
Lambda function calculates MAD by taking the absolute difference between each value and the mean, and then computes the mean of those absolute differences.  
According to research, mad() is not available in pandas (2.2.2). I reverted to the same version used in the course material, but the results were the same.

In [60]:
# Problem 5
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)

# Creates our DataFrame and the values within each column of the DataFrame.
df = pd.DataFrame({'Weather' : ['cold', 'hot', 'cold', 'hot',
   'warm', 'cool', 'warm'],
   'Food' : ['soup', 'soup', 'icecream', 'sandwich',
   'icecream', 'sandwich', 'soup'],
   'Price' : 10 * rand(7), 'Number' : randint(1, 9)}) # Creates random numbers using NumPy.

print(df)
print()
weather_group = df.groupby('Weather')

i = 0  # Defines the instance to be used in the following lines of code.

for name, group in weather_group:  # Groups each name by the weather type.
   i = i + 1  # Adds one level to each group (Group 1, Group 2, etc.)
   print("Group", i, name)
   print(group)
print()
wf_group = df.groupby(['Weather', 'Food'])  # Creates Weather/Food group for aggregation.
print("Weather/Food Aggregated\n", wf_group.agg([np.mean, np.median]))  # Uses np.mean and np.median to aggregate the group.

  Weather      Food     Price  Number
0    cold      soup  3.745401       8
1     hot      soup  9.507143       8
2    cold  icecream  7.319939       8
3     hot  sandwich  5.986585       8
4    warm  icecream  1.560186       8
5    cool  sandwich  1.559945       8
6    warm      soup  0.580836       8

Group 1 cold
  Weather      Food     Price  Number
0    cold      soup  3.745401       8
2    cold  icecream  7.319939       8
Group 2 cool
  Weather      Food     Price  Number
5    cool  sandwich  1.559945       8
Group 3 hot
  Weather      Food     Price  Number
1     hot      soup  9.507143       8
3     hot  sandwich  5.986585       8
Group 4 warm
  Weather      Food     Price  Number
4    warm  icecream  1.560186       8
6    warm      soup  0.580836       8

Weather/Food Aggregated
                      Price           Number
                      mean    median   mean median
Weather Food
cold    icecream  7.319939  7.319939    8.0    8.0
        soup      3.745401  3.745401    8.0    8.0
cool    sandwich  1.559945  1.559945    8.0    8.0
hot     sandwich  5.986585  5.986585    8.0    8.0
        soup      9.507143  9.507143    8.0    8.0
warm    icecream  1.560186  1.560186    8.0    8.0
        soup      0.580836  0.580836    8.0    8.0

C:\Users\caleb\AppData\Local\Temp\ipykernel_18416\1191920317.py:28: FutureWarning: The provided callable <function mean at 0x000001CD3A397380> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print("Weather/Food Aggregated\n", wf_group.agg([np.mean, np.median]))
C:\Users\caleb\AppData\Local\Temp\ipykernel_18416\1191920317.py:28: FutureWarning: The provided callable <function median at 0x000001CD3A4CAFC0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print("Weather/Food Aggregated\n", wf_group.agg([np.mean, np.median]))
C:\Users\caleb\AppData\Local\Temp\ipykernel_18416\1191920317.py:28: FutureWarning: The provided callable <function mean at 0x000001CD3A397380> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print("Weather/Food Aggregated\n", wf_group.agg([np.mean, np.median]))

weather_group.mean does not work with the data due to the first column being non-numeric. To correct this issue, we define the columns we want to include in the function.

In [61]:
# Problem 6
print("Top 3 Rows\n", df[:3], "\n")
print("Concatenated:\n", pd.concat([df[:3], df[3:]]), "\n")
print("Appended:\n", pd.concat([df[:3], df[-2:]]))

Top 3 Rows
   Weather      Food     Price  Number
0    cold      soup  3.745401       8
1     hot      soup  9.507143       8
2    cold  icecream  7.319939       8

Concatenated:
   Weather      Food     Price  Number
0    cold      soup  3.745401       8
1     hot      soup  9.507143       8
2    cold  icecream  7.319939       8
3     hot  sandwich  5.986585       8
4    warm  icecream  1.560186       8
5    cool  sandwich  1.559945       8
6    warm      soup  0.580836       8

Appended:
   Weather      Food     Price  Number
0    cold      soup  3.745401       8
1     hot      soup  9.507143       8
2    cold  icecream  7.319939       8
5    cool  sandwich  1.559945       8
6    warm      soup  0.580836       8

Append function is deprecated, in order to complete the function, we can use concat instead.

In [63]:
# Problem 7
# Creates DataFrames for the ingested CSVs.
dests = pd.read_csv('dest.csv')
tips = pd.read_csv('tips.csv')
# Merges fields based on a key column and excludes columns that are missing values.
print("Merge on key:\n", pd.merge(dests, tips, on='EmpNr'), "\n")
# Joins the dest and tips files.
print("File join()\n", dests.join(tips, lsuffix='Dest', rsuffix='Tips'), "\n")

Merge on key:
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

File join()
    EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5

In [64]:
# Problem 8 
df = pd.read_csv('WHO_first9cols.csv')
# Selects the first 3 rows of country and Net primary school enrolment ratio male (%)
df = df[['Country', df.columns[-2]]][:2]
print("New df\n", df)
print("Null Values\n", pd.isnull(df))  # Returns each instance of null values.
print("Total Null Values\n", pd.isnull(df).sum()) # Returns the total number of null values.
print("Not Null Values\n", df.notnull()) 
print("Last Column Doubled\n", 2 * df[df.columns[-1]])  # Doubles the last column of the DataFrame (Net Primary School enrollment ration (%))
print("Last Column plus NaN\n", df[df.columns[-1]] + np.nan) # adds NaN to the last column of the DataFrame.
print("Zero filled\n", df.fillna(0))  # Replaces null values with 0.

New df
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
Null Values
    Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False
Total Null Values
 Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64
Not Null Values
    Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True
Last Column Doubled
 0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64
Last Column plus NaN
 0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64
Zero filled
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0